table {
  border-collapse: collapse;
  font-family: arial;
}
td {
  border: 1px solid Black;
  padding: 5px;
}
th {
  padding: 1px solid Black;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  display: inline-block;
}
.arrow_up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}
